<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <div id="header-container">
      <h1 class="ubuntu-mono-bold" id="title">Chatify</h1>
      <a href="javascript:history.back()" id="btn-back">Back</a>
    </div>
    <div class="chat-container">
      <div id="chat-log">
        {% for message in messages %}
        <div class="message">
          <strong>{{ message.user }}:</strong> {{ message.text }}
          <br />
          <small class="timestamp">{{ message.timestamp|date:"H:i:s" }}</small>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="textsend">
      <input
        id="chat-message-input"
        type="text"
        size="100"
        placeholder="Type a message..."
      />
      <input id="chat-message-submit" type="button" value="Send" />
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );
      const username = localStorage.getItem("username") || "Anonymous";

      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const messageElement = document.createElement("div");
        messageElement.classList.add("message");
        const user = data.user || "Anonymous";
        const timestamp = data.timestamp;
        messageElement.innerHTML = `<strong>${user}:</strong> ${data.message} <br/><small class="timestamp">${timestamp}</small>`;
        document.querySelector("#chat-log").appendChild(messageElement);
        document.querySelector("#chat-log").scrollTop =
          document.querySelector("#chat-log").scrollHeight; // Scroll to the bottom
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").focus();
      document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.key === "Enter") {
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        chatSocket.send(
          JSON.stringify({
            user: username,
            message: message,
            timestamp: new Date().toISOString(),
          })
        );
        messageInputDom.value = "";
      };
    </script>
  </body>
</html>
