:root {
  --primary: #7848b6;
  --primary-content: #fefeff;
  --primary-dark: #603a91;
  --background: #efecf4;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
  font-family: "Ubuntu Mono", monospace;
}

.chat-container {
  width: 100%; /* Make full width of usable viewport */
  max-width: 97vw;
  min-width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px); /* Adjust the height as needed */
  margin-bottom: 60px; /* Leave space for the input field */
}

#header-container {
  width: 100%;
  height: 50px;
  border-bottom: #000000 solid 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  color: black;
  margin-left: 5px;
}

#btn-back {
  text-decoration: none;
  margin-right: 10px;
  color: var(--foreground);
  background-color: var(--primary-dark);
  padding: 2px 8px;
  border: var(--primary-light) 2px solid;
  border-radius: 5px;
  color: white;
}

#chat-log {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
}

.message {
  margin-bottom: 10px;
}

.timestamp {
  font-size: 12px; /* Adjust this size as needed */
  color: grey;
}

.textsend {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 10px;
  border-top: 1px solid #ddd;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure it's above other content */
}

#chat-message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

#chat-message-submit {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--primary-content);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px; /* Add margin-left to create space between input and button */
}

#chat-message-submit:hover {
  background-color: var(--primary-dark);
}
