:root {
  --primary: #7848b6;
  --primary-content: #fefeff;
  --primary-dark: #603a91;
  --primary-light: #936cc5;

  --background: #efecf4;
  --foreground: #fbfafc;
  --border: #ded7e8;

  --copy: #251c31;
  --copy-light: #624a82;
  --copy-lighter: #886dab;

  --success: #48b648;
  --warning: #b6b648;
  --error: #b64848;
  --success-content: #000000;
  --warning-content: #000000;
  --error-content: #fffefe;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
  font-family: "Ubuntu Mono", monospace;
}

#header-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  color: black;
}

.chat-container {
  width: 60%;
  max-width: 800px;
  min-width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#room-name-input,
#username-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: calc(100% - 24px);
}

#room-name-submit {
  font-size: large;
  padding: 16px 33px;
  border-radius: 9px;
  background: var(--primary);
  color: var(--primary-content);
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

#room-name-submit:hover {
  box-shadow: 7px 5px 56px -14px var(--primary-light);
}

#room-name-submit:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px var(--primary-light);
}
